@model Shoppite.Application.Models.ProductDetailModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Detail Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form enctype="multipart/form-data" method="get" class="">
    <input type="hidden" asp-for="AttributesSetupModel" />
    <input type="hidden" asp-for="ProductBasicModel.OrgId" />
    <input type="hidden" asp-for="ProductBasicModel.ProductName" />
    <input type="hidden" id="ProdGuid" asp-for="ProductBasicModel.ProductGuid" />
    <input type="hidden" asp-for="ProductBasicModel.ProductId" />
    @*<input type="hidden" asp-for="ProductPriceModel.Price" />*@
    <input type="hidden" asp-for="ProductPriceModel.ProductPriceId" />
    <input type="hidden" asp-for="ProductPriceModel.CurrencyId" />
    <input type="hidden" asp-for="ProductPriceModel.DeliveryFees" />
    <input type="hidden" asp-for="OrderBasicModel.UserName" />
    <!-- Start main area -->
    <div class="main-area">

        <div class="single-product-area">
            <div class="container">
                <div class="single-products">
                    <div class="row">
                        <!-- Start single product image -->
                        <div class="col-lg-4 col-md-6">
                            <div class="single-product-image">
                                <div id="content-eleyas">
                                    <div id="my-tab-content" class="product-details-large tab-content jump">
                                        <div class="tab-pane active" id="view1">
                                            <a class="fancybox" href="@Model.ProductBasicModel.CoverImage" data-fancybox-group="gallery" title=""><img src="@Model.ProductBasicModel.CoverImage" alt="">@*<span>View larger<i class="fa fa-search-plus"></i></span>*@</a>
                                        </div>
                                        @foreach (var proImg in Model.ProductImagesModel)
                                        {
                                            <div class="tab-pane" id="view_@proImg.ProductImagesId">
                                                <a class="fancybox" href="@proImg.Image" data-fancybox-group="gallery" title=""><img src="@proImg.Image" alt="">@*<span>View larger<i class="fa fa-search-plus"></i></span>*@</a>
                                            </div>
                                        }
                                    </div>

                                    <div id="viewproduct" class="nav nav-tabs producttabcarosel product-view owl-carousel" data-tabs="tabs">
                                        <div class="pro-view"><a href="#view1" data-bs-toggle="tab" class="active"><img src="@Model.ProductBasicModel.CoverImage" alt=""></a></div>
                                        @foreach (var Preview in Model.ProductImagesModel)
                                        {
                                            <div class="pro-view"><a href="#view_@Preview.ProductImagesId" data-bs-toggle="tab"><img src="@Preview.Image" alt=""></a></div>
                                        }

                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-lg-5 col-md-6">
                            <div class="single-product-details">
                                <div class="d-inline-flex" id="Prod_Name"><h1>@Model.ProductBasicModel.ProductName</h1>&nbsp;<h1 id="Prod_Spec"></h1></div>                             
                                <h2>
                                    <span id="Product_Price">₹ @Model.ProductPriceModel.Price </span>
                                </h2>
                                <p>@Model.ProductBasicModel.ShortDescription</p>
                                <p class="sin-item">
                                    <span class="sin-item-text"> @Model.ProductBasicModel.Qty Items </span>
                                    @if (@Model.ProductBasicModel.Qty != 0 && Model.ProductBasicModel.Qty>0)
                                    {
                                        <span class="sin-item-btn">In stock</span>
                                    }
                                    else
                                    {
                                        <span class="sin-item-out-stock">Out of stock</span>
                                    }
                                </p>
                                <div class="">
                                    <label>Quantity </label>
                                    <div class="input-group">
                                        <span class="">
                                            <button type="button" class="productminusbtn btn btn-default btn-number min" disabled="disabled" data-type="minus" data-field="OrderBasicModel.Qty">
                                                <span class="fa fa-minus"></span>
                                            </button>
                                        </span>
                                        <input type="number" class="input-number count" asp-for="OrderBasicModel.Qty" name="OrderBasicModel.Qty" value="1" min="1" max="@Model.ProductBasicModel.Qty">
                                        <span class="">
                                            <button type="button" class="productplusbtn btn btn-default btn-number max" data-type="plus" data-field="OrderBasicModel.Qty">
                                                <span class="fa fa-plus"></span>
                                            </button>
                                        </span>
                                    </div>
                                </div>

                                @foreach (var prodattr in Model.AttributesSetupModel)
                                {
                                    <p class="selector1">
                                        <h6>@prodattr.AttributeName</h6>
                                        <select  name="dropspec" class="select_1 select2 selectproductsort form-control">
                                            <option selected>select @prodattr.AttributeName</option>
                                            @foreach (var spec in prodattr.GetF_Getproduct_Specification_By_GuidModel)
                                            {
                                                <option id="sel_Opt">@spec.SpecificationName</option>
                                            }
                                        </select>

                                    </p>
                                }

                                @if (Model.ProductBasicModel.Qty == 0)
                                {
                                    <div class="row">
                                        <div class="col-sm-6 Add_Car_Btn">
                                            <p class="buttons_bottom_block no-print disabled" id="add_to_cart">
                                                <button class="exclusive disabled" name="Submit" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" disabled>
                                                    <span class="">Add to cart</span>
                                                </button>
                                            </p>
                                        </div>
                                        <div class="col-sm-6 Buy_Now_Btn">
                                            <p class="buttons_bottom_block no-print disabled" id="add_to_cart">
                                                <button class="exclusive disabled" name="Submit" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" disabled>
                                                    <span class="">Buy Now</span>
                                                </button>
                                            </p>
                                        </div>
                                    </div>

                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Shooppy Say's..</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body fw-bold d-flex">
                                                    This item is currently&nbsp;<div class="text-danger">out of stock</div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <p class="buttons_bottom_block no-print" id="add_to_cart">

                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            @if (Model.ProductPriceModel.DisableBuyButton == true)
                                            {
                                                <div class="row">
                                                    <div class="col-sm-6 Coming_Soon_Btn">
                                                        <button class="exclusive" name="Coming Soon" type="button" disabled>
                                                            <span>Coming Soon</span>
                                                        </button>
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="row">
                                                    <div class="col-sm-6 Add_Car_Btn">
                                                        <button class="exclusive" name="Submit" asp-action="AddProductToCart" asp-controller="ProductDetail" type="submit">
                                                            <span>Add to cart</span>
                                                        </button>
                                                    </div>

                                                    <div class="col-sm-6 Buy_Now_Btn">
                                                        <button class="exclusive" name="Submit" asp-action="BuyNow" asp-controller="ProductDetail" type="submit">
                                                            <span>Buy Now</span>
                                                        </button>
                                                    </div>
                                                </div>
                                            }
                                        }
                                        else
                                        {
                                            @if (Model.ProductPriceModel.DisableBuyButton == true)
                                            {
                                                <div class="row">
                                                    <div class="col-sm-6 Coming_Soon_Btn">
                                                        <button class="exclusive" name="Coming Soon" type="button" disabled>
                                                            <span>Coming Soon</span>
                                                        </button>
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="row">
                                                    <div class="col-sm-6 Add_Car_Btn">
                                                        <button class="exclusive" name="Submit" asp-action="Login" asp-controller="Authentications" type="submit">
                                                            <span>Add to cart</span>
                                                        </button>
                                                    </div>

                                                    <div class="col-sm-6 Buy_Now_Btn">
                                                        <button class="exclusive" name="Submit" asp-action="Login" asp-controller="Authentications" type="submit">
                                                            <span>Buy Now</span>
                                                        </button>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    </p>
                                }
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <p class="sin-adto-cart-bottom">
                                        @if (@Model.ProductBasicModel.WishlistedProduct == true)
                                        {
                                            <abbr title="WishList"><a href="/ProductDetail/AddToWhishList?ProductId=@Model.ProductBasicModel.ProductId&id=@Model.ProductBasicModel.ProductGuid"><i style="color:red" class="fa fa-heart"></i></a></abbr>
                                        }
                                        else
                                        {
                                            <abbr title="WishList"><a href="/ProductDetail/AddToWhishList?ProductId=@Model.ProductBasicModel.ProductId&id=@Model.ProductBasicModel.ProductGuid"><i class="fa fa-heart"></i></a></abbr>
                                        }
                                    </p>
                                }
                                else
                                {
                                    <p class="sin-adto-cart-bottom">
                                        <abbr title="WishList"><a href="/Authentications/Login"><i class="fa fa-heart"></i></a></abbr>
                                    </p>

                                }
                            </div>
                        </div>

                    </div>
                </div>
                <!-- Start single more info -->
                <div class="single-mori-info">
                    <div id="content">
                        <ul class="idTabs idTabsShort nav" id="single-tabs" data-tabs="tabs" style="margin-top: 15px;">
                            <li class="first"><a href="#sin-more1" data-bs-toggle="tab" class="active"><span>More info</span></a></li>
                            <li><a href="#sin-more2" class="" data-bs-toggle="tab">Additional Info</a></li>
                        </ul>
                        <div id="my-tab-content-eleyas" class="tab-content jump">
                            <div class="tab-pane active" id="sin-more1">
                                <div id="Des"><p>@Html.Raw(Model.ProductBasicModel.Description)</p></div>
                            </div>
                            <div class="tab-pane" id="sin-more2">
                                <div class="page-product-box" id="idTab2">
                                    <table class="table-data-sheet" style="margin-top:11px;">
                                        <tbody>
                                            <tr class="odd">
                                                <td>Brand</td>
                                                <td>@Model.BrandsModel.BrandName</td>
                                            </tr>
                                            <tr class="even">
                                                <td>Date First Available</td>
                                                <td>@Model.ProductBasicModel.ProductStartDate</td>
                                            </tr>
                                            <tr class="odd">
                                                <td>Properties</td>
                                                <td>@Model.ProductBasicModel.Sku</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- End single more info -->
                <!-- Start single Accessories -->
                <div class="new-product-area">
                    <div class="new-product-title">
                        <h4><span>Similar products</span></h4>
                    </div>
                    <div class="producttabcarosel carosel-product5 owl-carousel">
                        @foreach (var product in Model.f_Getproducts_By_CategoryIDModels)
                        {
                            <div class="product-item mb-3">
                                <div class="top-item">
                                    <a href="@Url.Action("Details", "ProductDetail",new { id = product.ProductGUID } )">
                                        <img src="@product.image" alt="@product.ProductName" style="height: 244px;width: 299px;">
                                    </a>
                                </div>
                                <div class="bottom-item">
                                    <div class="product-info">
                                        <h5><a href="@Url.Action("Details", "ProductDetail",new { id = product.ProductGUID } )" class="product_name_Over">@product.ProductName</a></h5>
                                        <span>
                                            ₹@product.Price &nbsp;&nbsp;
                                            @if (product.OldPrice != null)
                                            {
                                                <del>₹@product.OldPrice</del>
                                            }
                                        </span>
                                        <p>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input id="Set_Price" asp-for="ProductPriceModel.Price" />
</form>
<!-- End main area -->
@section scripts
{
    <script>

    $('.btn-number').click(function (e) {
        e.preventDefault();

        fieldName = $(this).attr('data-field');
        type = $(this).attr('data-type');
        var input = $("input[name='" + fieldName + "']");
        var currentVal = parseInt(input.val());
        if (!isNaN(currentVal)) {
            if (type == 'minus') {

                if (currentVal > input.attr('min')) {
                    input.val(currentVal - 1).change();
                    $('.max').attr('disabled', false);
                }
                if (parseInt(input.val()) == input.attr('min')) {
                    $(this).attr('disabled', true);
                }

            } else if (type == 'plus') {

                if (currentVal < input.attr('max')) {
                    if (currentVal >= 10) {
                        $(this).attr('disabled', true);
                        alert('Sorry, the maximum purchase Quantity was reached');
                        //$(this).val($(this).data('oldValue'));
                    } else {
                        input.val(currentVal + 1).change();
                        $('.min').attr('disabled', false);
                    }
                }
                if (parseInt(input.val()) == input.attr('max')) {
                    $(this).attr('disabled', true);
                }

            }

        } else {
            input.val(0);
        }

    });


    $('.input-number').focusin(function () {
        $(this).data('oldValue', $(this).val());
    });
    $('.input-number').change(function () {

        minValue = parseInt($(this).attr('min'));
        maxValue = parseInt($(this).attr('max'));
        valueCurrent = parseInt($(this).val());

        name = $(this).attr('name');
        if (valueCurrent >= minValue) {
            $(".btn-number[data-type='minus'][data-field='" + name + "']").removeAttr('disabled')
        } else {
            alert('Sorry, the minimum Quantity was reached');
            $(this).val($(this).data('oldValue'));
        }
        if (valueCurrent <= maxValue) {
            $(".btn-number[data-type='plus'][data-field='" + name + "']").removeAttr('disabled')
        } else {
            alert('Sorry, the maximum Quantity was reached');
            $(this).val($(this).data('oldValue'));
        }

    });


    //  var Guid = $('#ProdGuid').val();
    var PName = $('#Prod_Name').val();
    $('select[name="dropspec"]').change(function () {
       // var Name = $(this).val();

        var Daata = Object();
        Daata.Guid = $('#ProdGuid').val();
        Daata.Name = $(this).val();

        $.ajax({
            type: 'POST',
            url: '@Url.Action("Product_Spcification_Details", "ProductDetail")',
            dataType: 'JSON',
            data: JSON.stringify(Daata),
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                $('#Product_Price').text('₹' + data.price);
                $('#Prod_Spec').text(data.name);

                document.getElementById("Set_Price").value = data.price;
            },
            error: function (xhr, status, error) {
                alert("some thing worng");
            }
        })

    });

    </script>
    }