@model Shoppite.Application.Models.MainModel
@if (Model.f_Getproducts_RecentlyviewedModel.Count > 0)
{
    <div class="new-product-area">
        <div class="container">
            <div class="new-product-title">
                <h4><span>Recently Viewed</span></h4>
            </div>
            <div class="producttabcarosel carosel-product5 owl-carousel">
                @foreach (var product in Model.f_Getproducts_RecentlyviewedModel)
                {
                    <div class="product-item">
                        <div class="top-item">
                            <a href="@Url.Action("Details", "ProductDetail", new { id = product.ProductGUID })">
                                <img src="@product.image" alt="@product.ProductName" style="height: 244px;width: 299px;">
                            </a>
                        </div>
                        <div class="bottom-item">
                            <div class="product-info">
                                <h5><a href="@Url.Action("Details", "ProductDetail", new { id = product.ProductGUID })" class="product_name_Over">@product.ProductName</a></h5>
                                <span>
                                    ₹@product.Price &nbsp;&nbsp;
                                    @if (product.OldPrice != null)
                                    {
                                        <del>₹@product.OldPrice</del>
                                    }
                                </span>
                                <p>
                                </p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div> 
    }
else
{

}
