@model Shoppite.Application.Models.MainModel
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
<link href="~/css/MainpageSwipper.css" rel="stylesheet" />
<link href="~/css/site.css" rel="stylesheet" />
<!-- Start tab and carosel area -->
<div id="content" class="tabandcarosel-area">
    <div class="container-fluid">
        <div class="tab-product-wrap">
            <div class="row">
                <!-- Start tab menu area -->
                <div class="col-lg-3 col-md-4">
                    <div class="tab-menu-area toplist" id="myDIV">
                        <ul id="tabs" class="nav nav-tabs tab_cates text-nowrap flex-container" data-tabs="tabs">
                            @foreach (var Cat in Model.GetSp_Getcat_ResultModel.Take(5))
                            {
                                int X = (int)Cat.ID;
                                <li class="shadow CatLI">

                                    <a onclick="testajaxcall('@X')" data-toggle="tab" name="CatName" class="">
                                        <label class="name font-weight-bold">@Cat.NAME</label>
                                        @*<span class="thumb"><img class="imgm" src="@Cat.Icons" alt="thumb"></span>
                                        <span class="thumb"><img class="imgm" src="@Cat.Icons" alt="thumb"></span>*@
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
                <!-- End tab menu area -->
                <!-- Start category product content area -->
                <div class="col-lg-9 col-md-8">
                    <div class="new-product-area">
                        <div class="container-fluid">
                           @* @await Html.PartialAsync("_HorizontalBanner", Model)*@
                            <div class="pt-3 overflow-hidden">
                                <div class="swiper mySwiper">
                                    <div class="swiper-wrapper d-flex d-flex-inline " id="prodtabdata">
                                        <!--Here dynamically add product as per category via ajax in script-->
                                    </div>
                                    <div class="swiper-button-next"> <i class="fa fa-angle-right"></i> </div>
                                    <div class="swiper-button-prev"> <i class="fa fa-angle-left"></i> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End category product and carosel area -->
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
    var swiper = new Swiper(".mySwiper", {
        slidesPerView: 4,
        spaceBetween: 20,
        //freeMode: true,
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev'
        },
        pagination: {
            el: ".swiper-pagination",
            clickable: true
        },
        breakpoints: {
            320: {
                slidesPerView: 1,
                spaceBetween: 20
            },
            576: {
                slidesPerView: 2,
                spaceBetween: 20
          },
            768: {
                slidesPerView: 2,
                spaceBetween: 20
          },
            992: {
                slidesPerView: 4,
                spaceBetween: 20
            }
        }
    });
    function testajaxcall(id)
    {
        //debugger;
        var prod_Div = '';
        var ProdAry = [];
            $.ajax({
                type: "GET",
                url: '@Url.Action("Get_Product_By_Cat", "Home")',
                dataType: 'JSON',
                data: { "ID": id },
                contentType: "application/json",
                success: function(result)
                {
                    for (var i = 0; i < result.length; i++) {
                        prod_Div = '<div class="swiper-slide">';
                        prod_Div += '<div class="product-item" >';
                        prod_Div += '<div class="top-item"> <div class="img-hover-zoom">';
                        prod_Div += '<a href="/ProductDetail/Details/' + result[i].productGUID + '" class="product_Images" > ';
                        prod_Div += '<img src="' + result[i].image + '" alt="' + result[i].productName + '" loading="lazy" />';
                        prod_Div += '</a> </div>';
                        //prod_Div += '<div class="top-cocial">';
                        //prod_Div += '<p>';
                        //prod_Div += '<i class="fa fa-star-o"></i>';
                        //prod_Div += '<i class="fa fa-star-o"></i>';
                        //prod_Div += '<i class="fa fa-star-o"></i>';
                        //prod_Div += '<i class="fa fa-star-o"></i>';
                        //prod_Div += '<i class="fa fa-star-o"></i>';
                        //prod_Div += '</p>';
                        //prod_Div += '</div>';
                        prod_Div += '</div>';
                        prod_Div += '<div class="bottom-item">';
                        prod_Div += '<div class="product-info">';
                        prod_Div += '<h5><a href="/ProductDetail/Details/' + result[i].productGUID + '" class="product_name_Over" id="ProductName">' + result[i].productName + '</a></h5>';
                        prod_Div += '<span>' + '₹' + result[i].price + '&nbsp;&nbsp; <del> ₹'+ result[i].oldPrice +'</del></span>';
                        prod_Div += '<p>';
                        //prod_Div += '<i class="fa fa-star-o"></i>';
                        //prod_Div += '<i class="fa fa-star-o"></i>';
                        //prod_Div += '<i class="fa fa-star-o"></i>';
                        //prod_Div += '<i class="fa fa-star-o"></i>';
                        //prod_Div += '<i class="fa fa-star-o"></i>';
                        prod_Div += '</p>';
                        prod_Div += '</div>';
                       // prod_Div += '<div class="product-social">';
                        //prod_Div += '<ul>';
                        //prod_Div += '<li><a href="#"><i class="fa fa-external-link"></i></a></li>';
                        //prod_Div += '<li><a class="addWish" data-product="' + result[i].productId+'"><i class="fa fa-heart" id="addtowishlist"></i></a></li>';
                        //prod_Div += '<li><a href="#"><i class="fa fa-bar-chart"></i></a></li>';
                        //prod_Div += '<li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>';
                        //prod_Div += '</ul>';
                      //  prod_Div += '</div>';
                        prod_Div += '</div>';
                        prod_Div += '</div>';
                        prod_Div += '</div>';
                        var resetdiv = prod_Div;
                        ProdAry.push(resetdiv);
                    }
                    $("#prodtabdata").html(ProdAry.join(''));
                    if (ProdAry.length == 0) {
                        $("#prodtabdata").html('<img class="" style="margin-top: 3.6pc;" src="/img/no-product-found.jpg" alt="NoProductFound" loading="lazy" />');
                    }
                },
                error: function (xhr, status, error)
                {
                    alert(xhr.responseText);
                }
            })
    };
    window.onload = function () {
        document.getElementsByName("CatName")[0].click();
    };
    var links = document.querySelectorAll('.toplist ul li a');
    links.forEach(function (element) {
        element.addEventListener('click', function (e) {
            // PreventDefault to prevent redirect
            e.preventDefault();
            links.forEach(function (element) {
                element.classList.remove('active');
            });
            this.classList.add('active');
        });
    });
    $('#removewishlist').hide();
    $('.addWish').click(function (e)
    {
        if ($(e.target).css('color') == 'rgb(255, 0, 0)')
        {
            $(e.target).css('color', 'white');
        }
        else
        {
            $(e.target).css('color', 'red');
        }
  e.preventDefault();
  var el = $(this),
    icon = el.find('i'),
            productId = el.data("product")
        $.ajax({
            type: 'POST',
            url: '@Url.Action("Wishlist", "Wishlist")',
            data: {
                "id": productId
            },
            success: function (data) {
        }
        });
    });
</script>
