@model Shoppite.Application.Models.MainModel
                    <!--productslist-single-products-Section-start-->
@foreach (var product in Model.Product_specification.Skip(8))
{
    <div class="col-6 col-lg-3 col-md-4 ">
        <div class="wrapper">
            <div class="card products-listcard"
                 style="border-radius: 10px; box-shadow: 0px 2px 0px 2px #aed4f0;">
                <span class="off">-25% OFF</span>

                <div class="text-center">
                    <img id="main-image_@product.ProductId" class="prolistimagelarge"
                         src="@product.image" />
                </div>

                <span class="similarpro mt-5">
                    <button class="similaprobutton" data-toggle="modal" href="/Home/_SimilarProduct?CategoryId=@product.Category_Id&BrandId=@product.brandid"
                            id="similarproduct" data-target="#exampleModalCenter" title="Similar Products">
                        <img src="~/img/similarIcon.png" width="25" height="25">
                    </button>
                </span>
                @if (User.Identity.IsAuthenticated)
                {
                    for (int i = 0; i < Model.Wishlists.Count; i++)
                    {
                        @if (product.ProductId == Model.Wishlists[i].ProductId)
                        {
                            <span class="whislistpro mt-5">
                                <a class="whislistprobutton" href="/Home/AddToWhishList?ProductId=@product.ProductId&id=@product.ProductGUID&CategoryId=@product.Category_Id"
                                   data-toggle="tooltip" data-placement="top" title="Move To Wishlist">
                                    <i class="fa fa-heart"
                                       style="width: 20px; height: 20px; color: red;"></i>
                                </a>
                            </span>
                        }
                    }
                    <span class="whislistpro mt-5">
                        <a class="whislistprobutton" href="/Home/AddToWhishList?ProductId=@product.ProductId&id=@product.ProductGUID&CategoryId=@product.Category_Id"
                           data-toggle="tooltip" data-placement="top" title="Move To Wishlist">
                            <i class="fa fa-heart"
                               style="width: 20px; height: 20px; color: #000000;"></i>
                        </a>
                    </span>
                    <span class="cartpro mt-5">
                        <a asp-action="AddProductToCart" asp-controller="ProductDetail" type="submit" class="cartprobutton" data-toggle="tooltip"
                           data-placement="bottom" title="Move To Bag">
                            <i class="fa fa-shopping-cart"
                               style="width: 20px; height: 20px; color: #000000;"></i>
                        </a>
                    </span>
                }
                else
                {
                    <span class="whislistpro mt-5">
                        <a class="whislistprobutton" asp-action="Register" asp-controller="Authentications"
                           data-toggle="tooltip" data-placement="top" title="Move To Wishlist">
                            <i class="fa fa-heart"
                               style="width: 20px; height: 20px; color: #000000;"></i>
                        </a>
                    </span>
                    <span class="cartpro mt-5">
                        <a asp-action="Register" asp-controller="Authentications" type="submit" class="cartprobutton" data-toggle="tooltip"
                           data-placement="bottom" title="Move To Bag">
                            <i class="fa fa-shopping-cart"
                               style="width: 20px; height: 20px; color: #000000;"></i>
                        </a>
                    </span>

                }

                <div class="thumbnail text-center">
                    @foreach (var images in product.ProductList.Split(','))
                    {
                        <img onclick="change_image(this)" src="@images" width="30"
                             height="30">
                    }
                </div>
                <div class="about text-center">
                    <h6 class="prolistcardname">@product.BrandName</h6>
                    <h6 class="prolistcardname">
                        <a href="Productdetailspage.html"
                           class="productnamelink">
                            @product.ProductName
                        </a>
                    </h6>
                    <p class="font-weight-bold m-0 responsivestar" style="color: orangered;">
                        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> <span style="color: darkgrey;">250</span>
                    </p>
                    <p class="font-weight-bold m-0 responsiveprice">
                        ₹ @product.Price <span class="text-decoration-line-through"
                                               style="color: darkgrey;">₹ @product.OldPrice</span> <span class="ml-1 text-success">(60% off)</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
<!--productslist-single-product-similar-products-list-model-Section-start-->
<div class="modal bd-example-modal-lg" id="exampleModalCenter" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Similar Products</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="prolistsimilarlayout mb-3">
                    <!--productslist-single-products-list-similer products model-Section-start-->
                    <!--productslist-single-products-list-similer products model-Section-end-->
                </div>
            </div>
        </div>
    </div>
</div>

<!--productslist-single-product-similar-products-list-model-Section-end-->