<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
@model Shoppite.Application.Models.MainModel
    <div id="grid" class="tab-pane active categoti-grid-view">
        <div class="row">
            @foreach (var product in Model.ProductdByBrand)
            {
                <div class="col-md-4 col-lg-4 col-xl-3" style="margin-top:25px">
                    <div class="product-item" style="width: 184px;">
                        <div class="top-item">
                            <a href="single-product.html">
                                <img style="height:244px;width:250px" src="@Url.Content("~")/@product.Image" alt="Product image">
                            </a>
                            <div class="top-cocial">
                                <p>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                </p>
                            </div>
                        </div>
                        <div class="bottom-item">
                            <div class="product-info">
                                <h5><a href="#">@product.ProductName</a></h5>
                                <span>@product.Price <del>@product.OldPrice</del></span>
                                <p>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                </p>
                            </div>
                            <div class="product-social">
                                <ul>
                                    <li><a href="#"><i class="fa fa-external-link"></i></a></li>
                                    <li><a class="addWish" data-product="@product.ProductId"><i class="fa fa-heart" id="addtowishlist"></i></a></li>
                                    <li><a href="#"><i class="fa fa-bar-chart"></i></a></li>
                                    <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            }
</diV>
        </div>
    <script>
    $('#removewishlist').hide()
    $('.addWish').click(function (e)
    {
        if ($(e.target).css('color') == 'rgb(255, 0, 0)')
        {
            $(e.target).css('color', 'white');
        }
        else
        {
            $(e.target).css('color', 'red');
        }
  e.preventDefault();
  var el = $(this),
    icon = el.find('i'),
            productId = el.data("product")
        $.ajax({
            type: 'POST',
            url: '@Url.Action("Wishlist", "Wishlist")',
            data: {
                "id": productId
            },
            success: function (data) {
        }
        });
    });
    </script>
