@model Shoppite.Application.Models.MainModel
    <!--main slider-start-->
<section class="section section-sm section-first bg-default">
    <div class="container-fluid">
        <div class="slideshow-container">
            @if (Model.TopBanner.Count == 0)
            {
                @if (Model.BannersByCategory.Count == 0)
                {
                    @if (Model.CategoryBanner != null)
                    {
                        @foreach (var image in Model.CategoryBanner.Take(3))
                        {
                            if (image.Banner != null)
                            {
                                <div class="mySlides fade">
                                    <div class="numbertext">1 / @Model.CategoryBanner.Count</div>
                                    <a asp-action="AllProducts" asp-route-CategoryId="@image.CategoryId"><img src="@image.Banner" style="width:100%" /></a>
                                </div>
                            }
                        }
                    }
                }
                else
                {
                    @if (Model.BannersByCategory != null)
                    {
                        @foreach (var image in Model.BannersByCategory.Take(3))
                        {
                            if (image.Banner != null)
                            {
                                <div class="mySlides fade">
                                    <div class="numbertext">1 / 3</div>
                                    <a asp-action="AllProducts" asp-route-CategoryId="@image.CategoryId"><img src="@image.Banner" style="width:100%" /></a>
                                </div>
                            }
                        }
                    }

                }
            }
            else
            {
                @if (Model.TopBanner != null)
                {
                    @foreach (var image in Model.TopBanner.Take(3))
                    {
                        if (image.Image != null)
                        {
                            <div class="mySlides fade">
                                <div class="numbertext">1 / 3</div>
                                <a asp-action="AllProducts" asp-route-CategoryId="@image.CategoryId"><img src="@image.Image" style="width:100%" /></a>
                            </div>

                        }
                    }
                }
            }
        </div>
        <br>
        <div style="text-align:center">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div>
    </div>
</section>


