@model Shoppite.Application.Models.OrderModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>My Order</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon
        ============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
    <!-- Fonts  -->
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,300,800' rel='stylesheet'
          type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <!-- CSS  -->
    <!-- Bootstrap CSS
        ============================================ -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- owl.carousel CSS
        ============================================ -->
    <link rel="stylesheet" href="css/owl.carousel.css">
    <!-- nivo slider CSS
        ============================================ -->
    <link rel="stylesheet" href="css/nivo-slider.css">
    <!-- font-awesome.min CSS
        ============================================ -->
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <!-- jquery.fancybox CSS
        ============================================ -->
    <link rel="stylesheet" href="css/fancb/jquery.fancybox.css">
    <!-- jquery.fancybox CSS
        ============================================ -->
    <link rel="stylesheet" href="css/fancb/jquery.fancybox.css">
    <!-- meanmenu.min CSS
        ============================================ -->
    <link rel="stylesheet" href="css/meanmenu.min.css">
    <!-- animate CSS
        ============================================ -->
    <link rel="stylesheet" href="css/animate.css">
    <!-- normalize CSS
        ============================================ -->
    <link rel="stylesheet" href="css/normalize.css">
    <!-- main CSS
        ============================================ -->
    <link rel="stylesheet" href="css/main.css">
    <!-- style CSS
        ============================================ -->
    <link rel="stylesheet" href="style.css">
    <!-- responsive CSS
        ============================================ -->
    <link rel="stylesheet" href="css/responsive.css">
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    <style>
        .download {
            color: #ffffff;
            padding: 10px;
            border-radius: 6px;
            background-color: #363636;
            font-weight: 800;
            letter-spacing: 1.5px;
        }
            .download:hover {
                background-color: #FE5B5A;
                color: #ffffff;
                border: none;
                font-weight: 800;
                letter-spacing: 1.5px;
                text-decoration:none;
            }
        .return {
            color: #ffffff;
            padding: 10px;
            border-radius: 6px;
            background-color: #FE5B5A;
            font-weight: 800;
            letter-spacing: 1.5px;
        }
            .return:hover {
                background-color: #363636;
                color: #ffffff;
                border: none;
                font-weight: 800;
                letter-spacing: 1.5px;
                text-decoration:none;
            }
        .Icon {
            color: #ec4445;
        }
    </style>
</head>
<body class="categori">
    <!-- Start main area -->
    <div class="main-area">
        <!-- Start product categori area -->
        <div class="product-categori-area">
            <div class="container-fluid">
                @*<div class="breadcrumb">
                    <a title="Return to Home" href="index.html" class="home">Home</a>
                    <span class="navigation-pipe"><i class="fa fa-angle-right"></i></span>
                    Order Details
                </div>*@
                <div class="blog-content">
                    <div class="row justify-content-center">
                        <div class="col-md-11">
                            <div class="blog-posts">
                                <!-- Start blog single -->
                                <div class="blog-single" style="border-radius: 9px; border-bottom: 1px solid #D7D4D4;">
                                    <div class="row d-flex flex-row justify-content-center mx-md-n5">
                                        <div class="col-md-4 mt-4 mb-4 col-10 px-md-5" style="color: #000000; font-weight:500; letter-spacing: 1.5px; border-right: 1px solid #D7D4D4;">
                                            <div class="">
                                                <h5><span style="font-weight: 800;">Shipping Address</span></h5>
                                            </div>
                                            <p><i class="fa fa-user Icon"></i>&nbsp;&nbsp;&nbsp;<span>@Model.UserName</span></p>
                                            <p>
                                                <i class="fa fa-map-marker Icon"></i>&nbsp;&nbsp;&nbsp;<span>
                                                    @Model.UsersProfileModel.City,  @Model.UsersProfileModel.State,  @Model.UsersProfileModel.Country, @Model.UsersProfileModel.Address ,  @Model.UsersProfileModel.Zip
                                                </span>
                                            </p>
                                            <p>
                                                <i class="fa fa-phone Icon"></i>&nbsp;&nbsp;&nbsp;<span class="call">Phone No: @Model.UsersProfileModel.ContactNumber</span>
                                            </p>
                                            <p>
                                                <i class="fa fa-envelope Icon"></i>&nbsp;&nbsp;&nbsp;<span class="call">
                                                    Email: <a href="mailto:@Model.f_Order_MasterModel.Email" style="color: #000000; font-weight:500; letter-spacing: 1.5px;" name="link">@Model.f_Order_MasterModel.Email</a>
                                                </span>
                                            </p>
                                        </div>
                                        <div class="col-md-4 mt-4 mb-4 col-10 px-md-5" style="color: #000000; font-weight:500; letter-spacing: 1.5px; border-right: 1px solid #D7D4D4;">
                                            <div class="">
                                                <h5><span style="font-weight: 800;">Delivery Address</span></h5>
                                            </div>
                                            <p><i class="fa fa-user Icon"></i>&nbsp;&nbsp;&nbsp;<span>@Model.UserName</span></p>
                                            <p>
                                                <i class="fa fa-map-marker Icon"></i>&nbsp;&nbsp;&nbsp;<span>
                                                    @Model.f_Order_MasterModel.Street, @Model.f_Order_MasterModel.City, @Model.f_Order_MasterModel.Address, @Model.f_Order_MasterModel.Zipcode
                                                </span>
                                            </p>
                                            <p>
                                                <i class="fa fa-phone Icon"></i>&nbsp;&nbsp;&nbsp;<span class="call">Phone No:@Model.f_Order_MasterModel.Contactnumber</span>
                                            </p>
                                            <p>
                                                <i class="fa fa-envelope Icon"></i>&nbsp;&nbsp;&nbsp;<span class="call">
                                                    Email: <a href="mailto:@Model.f_Order_MasterModel.Email" style="color: #000000; name=" link" font-weight:500; letter-spacing: 1.5px;">@Model.f_Order_MasterModel.Email</a>
                                                </span>
                                            </p>
                                        </div>
                                        <div class="col-md-4 mt-4 mb-4 col-10 px-md-5" style="font-weight: 500; letter-spacing: 1.5px; margin: -40px; ">
                                            <div class="">
                                            </div>
                                            <div class="newslettei-from ">
                                                <form method="post" action="#">
                                                    <div class="cartPage-btn ">
                                                        <ul class="text-center mt-5">
                                                            @if (Model.f_Order_MasterModel.LastOrderStatus == "Delivered")
                                                            {
                                                                <li style="margin: 15px 0px 35px 0px; "><a href="#" class="cbtn download">Download Invoice</a></li>
                                                            }
                                                            else if (Model.f_Order_MasterModel.LastOrderStatus == "Request Cancellation")
                                                            {
                                                                <img class="img-fluid" loading="lazy" alt="cancelimg" style="margin-top:-70px;" src="~/img/Cancel.gif" />
                                                            }
                                                            else
                                                            {
                                                                @*<li style="margin: 15px 0px 35px 0px; "><a href="/Orders/CancleOrder?orderid=@Model.f_Order_MasterModel.OrderId" class="cbtn download">Cancel Order</a></li>*@
                                                            }
                                                        </ul>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="OrderDT d-inline-flex">
                                        <div class="">
                                            <h4 style="margin: 0px 0px 25px 20px; font-weight: 800; color: #000000;">Order No:- @Model.f_Order_MasterModel.OrderId</h4>
                                            <p style="margin: 0px 0px 25px 20px; font-weight: 700; color: #000000;">Payment Method:- @Model.f_Order_MasterModel.PaymentMode</p>
                                            <p style="margin: 0px 0px 25px 20px; font-weight: 700; color: #000000;">Remarks From Vendor:- @Model.OrderStatusModel.Remarks</p>
                                            <p style="margin: 0px 0px 25px 20px; font-weight: 700; color: #000000;">Order Status:-<label style="color: #ec4445;">@Model.f_Order_MasterModel.OrderStatus</label> </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-categori">
                    <div class="row justify-content-center">
                        <!-- Start categori content -->
                        <div class="col-lg-9 col-md-12">
                            <div id="content" class="categori-content">
                                <div id="my-tab-content" class="tab-content jump">
                                    <div id="list" class="tab-pane active categori-list-view">
                                        <div class="list-view-single-product shadow" style="border-radius: 6px;">
                                            <div class="row">
                                                @foreach (var productImg in Model.productDetails)
                                                {
                                                    <div class="col-md-2">
                                                        <div class="list-view-image" style="margin-left: 8px;">
                                                            <a href="#" name="link">
                                                                <img src="@productImg.CoverImage" loading="lazy" alt="@productImg.ProductName" />
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md-10 col-6 d-flex">
                                                        <div class="col-6 list-view-details" style="color: #000000; font-weight: 900; letter-spacing: 1px;">
                                                            <h5>@productImg.ProductName</h5>
                                                            <p class="product-desc">Qty:@productImg.Qty</p>
                                                            <div class="">
                                                                <label class="list-product-price" style="font-size: 20px; color: #ec4445;">@productImg.totalPrice</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-6 col-md-8 list-view-details justify-content-end">
                                                            <div class="cartPage-btn">
                                                                <ul class="text-center mt-5">
                                                                        <li style="margin: 25px 0px 35px 0px; "><a href="/ProductDetail/Details/@productImg.ProductGUID" name="link" class="cbtn return">Buy Again</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            </div>    
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End categori content -->
    </div>
    <script src="js/vendor/jquery-3.5.1.min.js"></script>
    <script src="js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <!-- bootstrap js
        ============================================ -->
    <script src="js/bootstrap.min.js"></script>
    <!-- owl.carousel.min js
        ============================================ -->
    <script src="js/owl.carousel.min.js"></script>
    <!-- jqueryui js
        ============================================ -->
    <script src="js/jquery.fancybox.js"></script>
    <!-- jquery.nivo.slider.pack.3.2 js
        ============================================ -->
    <script src="js/jquery.nivo.slider.pack.3.2.js"></script>
    <!-- jqueryui js
        ============================================ -->
    <script src="js/jqueryui.js"></script>
    <!-- jquery.meanmenu js
        ============================================ -->
    <script src="js/jquery.meanmenu.js"></script>
    <!-- wow js
        ============================================ -->
    <script src="js/wow.js"></script>
    <!-- plugins js
        ============================================ -->
    <script src="js/plugins.js"></script>
    <script>
        $(function () {
            $("#slider-range").slider({
                range: true,
                min: 0,
                max: 500,
                values: [75, 300],
                slide: function (event, ui) {
                    $("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
                }
            });
            $("#amount").val("$" + $("#slider-range").slider("values", 0) +
                " - $" + $("#slider-range").slider("values", 1));
        });
    </script>
    <script src="js/main.js"></script>
</body>
</html>