@model Shoppite.Application.Models.MainModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<link href="~/css/MyAcLogButton.css" rel="stylesheet" />
<div class="main-area">
    <div class="contact-page-area">
        <div class="container-fluid">
            <div class="contact-from-atea">
                <div class="form-and-info">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="contactDetails contactHead">
                                <h3>CONTACT Info</h3>
                            <p>
                                <span class="iconContact"><i class="fa fa-map-marker"></i></span>
                                @Model.Myaccount.Address
                            </p>
                            <p>
                                <span class="iconContact"><i class="fa fa-phone"></i></span>
                                @Model.Myaccount.ContactNumber
                            </p>
                            <p>
                                <span class="iconContact"><i class="fa fa-envelope"></i></span>
                                Email:@Model.Myaccount.Email
                            </p>                              
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="contactfrom">
                                @*@foreach (var myaccount in Model.Myaccount.Take(1))
                                    {*@
                                <h1>My Profile</h1>
                                <img src="@Model.Myaccount.CoverImage" loading="lazy" alt="yourcoverimg" style="margin-right: 55px;max-height:100px; float: right;" />
                                <form action="#">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <input type="text" asp-for="@Model.Myaccount.UserName" readonly id="UserName" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6 contactemail">
                                            <input type="email" asp-for="@Model.Myaccount.Email" readonly id="Email" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6 cart-checkout">
                                            <a class="text-decoration-none" asp-controller="MyAccount" asp-action="EditProfile" name="editpro">Edit Profile &nbsp;<i class="fa fa-pen"></i></a>
                                        </div>
                                        <div class="col-6 cart-checkout" id="fadeshow1">
                                            <a class="text-decoration-none" asp-action="Logout" asp-controller="Authentications" name="logout">Logout<i class="fa fa-sign-out-alt"></i></a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

