@model Shoppite.Application.Models.Reward_Point_LogModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    decimal rewardpointBalance = 0;
    var username = User.Identity.Name;
}
<style>
    .coins {
        justify-content: center;
        padding-top: 20px;
        border: 1px solid lightgrey;
        margin: auto;
        display: flex;
    }

    .claimbtn {
        margin-bottom: 30px;
        margin-left: 280px;
    }

    .rewardbalance {
        padding-top: 20px;
        margin-top: 20px;
    }

    .claim_reward {
        margin: auto;
    }
</style>
<script src="~/js/vendor/jquery-3.5.1.min.js"></script>
@if (Model.Reward_PointList != null)
{
    @foreach (var rewardbalance in Model.Reward_PointList)
    {
        @if (rewardbalance.Operation_type == "Credit")
        {
            rewardpointBalance += @rewardbalance.Reward_points;
        }
        else
        {
            rewardpointBalance -= @rewardbalance.Reward_points;
        }
    }

}


<div class="container">
    <div class="row">
        <div class="col-md-8 col-sm-8 col-lg-8 col-xl-8 coins">
            <h3>Claim Your Rewards</h3>
        </div>

    </div>
    <div class="row rewardbalance">
        <div class="col-md-4 col-sm-4 col-lg-4 col-xl-4"><img src="~/img/total-rewards-strategy.webp" /></div>
        <div class="col-md-8 col-sm-8 col-lg-8 col-xl-8">
            @if (rewardpointBalance != 0)
            {
                <h3>Your Reward points @rewardpointBalance</h3>
            }
            else
            {
                <h3>You do not Have Reward Points</h3>
            }

        </div>

    </div>
    @if (rewardpointBalance >= 100)
    {
        <div class="row">
            <div class="col-md-8 col-lg-8 col-sm-8 claim_reward">
                <a class="btn btn-dark text-white claimbtn" asp-controller="Cart" asp-action="Cart" asp-route-username="@username">Claim Reward</a>

               @* <div class="alert" role="alert" id="buttonAlert">
                    <strong class="claimbtn">Success!</strong> Reward Claimed
                </div>*@

              @*  <div id="TestsDiv" style="display:none">

                    <a class="btn btn-dark claimbtn" asp-controller="Cart" asp-action="Cart" asp-route-username="@username">Shopping Now</a>
                  
                </div>*@
            </div>
        </div>
    }
            else
            {
                <h4></h4>
            }


</div>
@*<script>
    function TestsFunction() {
        var T = document.getElementById("TestsDiv");
        T.style.display = "block";  // <-- Set it to block
    }
    $(document).ready(function () {
        $("#buttonAlert").hide()
        $("#modalButton").click(function () {
            $("#buttonAlert").show()
        })

    })</script>*@
