@model Shoppite.Application.Models.Reward_Point_LogModel
@{
    decimal rewardpointBalance = 0;
    decimal balance = 0;
    var username = User.Identity.Name;
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<div class="container">
    <div class="row">
        <div class="col-md-8 col-sm-8 col-lg-8 col-xl-8 coins">
            <h1>
                @if (Model.Reward_PointList != null)
                {
                    @foreach (var rewardbalance in Model.Reward_PointList)
                    {
                        @if (rewardbalance.Operation_type == "Credit")
                        {
                            balance += @rewardbalance.Reward_points;
                        }
                        else
                        {
                            balance -= @rewardbalance.Reward_points;
                        }
                    }
                } @balance Points
                @if (balance >= 100)
                {
                    <a class="btn btn-dark text-white claimbtn" asp-controller="Cart" asp-action="Cart" asp-route-username="@username">Claim Reward</a>
                }
            </h1>
        </div>
        @if (balance == 0)
        {
            <div class="coins"><img width="500" height="500" src="~/img/My project-1 (5).png" /></div>
        }
        else
        {
            <div class="col-md-8 col-sm-8 col-lg-8 col-xl-8 coinlist">
                <table id="rewardtbl" class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Description</th>
                            <th scope="col">Credit/Debit</th>
                            <th scope="col">Reward Points</th>
                            <th scope="col">Balance</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Reward_PointList != null)
                        {
                            @foreach (var rewardbalance in Model.Reward_PointList)
                            {
                                <tr>
                                    <td scope="row">
                                        @rewardbalance.Reward_type
                                        <p id="getdate_@rewardbalance.Id">@Convert.ToDateTime(@rewardbalance.Date_created).ToString("dd-MMM-yyyy")</p>
                                    </td>
                                    <td>
                                       @rewardbalance.Operation_type
                                    </td>
                                    <td>
                                        @if (rewardbalance.Operation_type == "Debit")
                                        {
                                            <p><b>-@rewardbalance.Reward_points</b></p>
                                        }
                                        else
                                        {
                                            <p><b>+@rewardbalance.Reward_points</b></p>
                                        }
                                    </td>
                                    <td id="rewardbal">
                                        @if (rewardbalance.Operation_type == "Credit")
                                        {
                                            rewardpointBalance += @rewardbalance.Reward_points;
                                        }
                                        else
                                        {
                                            rewardpointBalance -= @rewardbalance.Reward_points;
                                        }
                                        @rewardpointBalance
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>