@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<div class="container">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xl-12" style="margin-bottom: 1%;">
            <img src="~/img/final_bank_ban.gif">
        </div>
        <div class="coins_cards" style="margin: auto;width: 98%;">
            <div class="card cardstyle">
                <img src="~/img/coin_1.png" class="imgcard" usemap="#map1" />
                <map name="map1">
                    <area shape="rect" coords="48,300,220,270" href="@Url.Action("coin_balance", "Reward")" alt="alttext">
                </map>
            </div>

            <div class="card cardstyle">
                <img src="~/img/coin_2.png" class="imgcard" usemap="#map2" />
                <map name="map2">
                    <area shape="rect" coords="48,300,220,270" href="@Url.Action("reward_store", "Reward")" alt="alttext">
                </map>
            </div>

            <div class="card cardstyle">
                <img src="~/img/coin_3.png" class="imgcard" usemap="#map3" />
                <map name="map3">
                    <area shape="rect" coords="48,300,220,270" href="@Url.Action("Bank_Coupan", "Reward")" alt="alttext">
                </map>
            </div>

            <div class="card cardstyle">
                <img src="~/img/coin_4.png" class="imgcard" usemap="#map4" />
                <map name="map4">
                    <area shape="rect" coords="48,300,220,270" href="@Url.Action("claim_reward", "Reward")" alt="alttext">
                </map>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12" style="margin-left: 32px;">
            <img src="~/img/extra_discount.gif" usemap="#map5" />
            <map name="map5">
                <area shape="rect" coords="722,31,858,93" alt="alttext"  href="@Url.Action("Index", "Home")" >
            </map>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12" style="margin-left: 32px; margin-top: 20px;">
            <img src="~/img/trendy1.gif" usemap="#map6" />
            <map name="map6">
                <area shape="rect" alt="alttext" coords="602,27,789,54"  href="">
            </map>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12" style="margin-top: 20px;">
            <img src="~/img/membership1.png" style="width: 50%; margin: auto; display: flex;" />
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12" style="margin-top: 20px; margin-bottom: 50px;">
            <img src="~/img/benefit.png" style="width: 80%; margin: auto; display: flex;" />
        </div>
    </div>
</div>