@model Shoppite.Application.Models.CartModel

@{
    ViewData["Title"] = "Cart Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">

<!-- Fonts  -->

<link href='https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,300,800' rel='stylesheet' type='text/css'>

<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<!-- CSS  -->
<!-- Bootstrap CSS
============================================ -->
<link rel="stylesheet" href="~/css/bootstrap.min.css">

<!-- owl.carousel CSS
============================================ -->
<link rel="stylesheet" href="~/css/owl.carousel.css">

<!-- nivo slider CSS
============================================ -->
<link rel="stylesheet" href="~/css/nivo-slider.css">

<!-- font-awesome.min CSS
============================================ -->
<link rel="stylesheet" href="~/css/font-awesome.min.css">

<!-- jquery.fancybox CSS
============================================ -->
<link rel="stylesheet" href="~/css/fancb/jquery.fancybox.css">

<!-- meanmenu.min CSS
============================================ -->
<link rel="stylesheet" href="~/css/meanmenu.min.css">

<!-- animate CSS
============================================ -->
<link rel="stylesheet" href="~/css/animate.css">

<!-- normalize CSS
============================================ -->
<link rel="stylesheet" href="~/css/normalize.css">

<!-- main CSS
============================================ -->
<link rel="stylesheet" href="~/css/main.css">

<!-- style CSS
============================================ -->
<link rel="stylesheet" href="~/style.css">

<!-- responsive CSS
============================================ -->
<link rel="stylesheet" href="~/css/responsive.css">
<style>

    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }

    span {
        cursor: pointer;
    }

    .number {
        margin: 0px;
    }

    .minus, .plus {
        width: 20px;
        height: 20px;
        background: #f2f2f2;
        border-radius: 4px;
        /*padding: 8px 5px 8px 5px;*/
        border: 1px solid #ddd;
        display: inline-block;
        vertical-align: middle;
        text-align: center;
    }

        .minus:hover {
            background-color: #FE5B5A;
        }

        .plus:hover {
            background-color: #FE5B5A;
        }

    input {
        /*height: 34px;*/
        width: 38px;
        text-align: center;
        font-size: 18px;
        border: 1px solid #ddd;
        border-radius: 4px;
        display: inline-block;
        vertical-align: middle;
    }

    .fa {
        font-size: 20px;
    }

    .cart-product-line {
        border-top: 0px solid #515151;
    }
    /*.QA{
        text-align: center;
        padding: 9px 10px;
    }*/

    .Shop_Now {
        background-color: #363636;
        padding: 10px;
        color: white;
        border-radius: 1px;
    }

        .Shop_Now:hover {
            background-color: #fe5b5a;
            color: white;
            text-decoration: none;
        }

    .Shop_Now_Div {
        padding: 20px;
    }
</style>

<script src="js/vendor/modernizr-2.8.3.min.js"></script>
<!-- Start main area -->
<div class="main-area">

    <!-- Start cart page area -->
    <div class="cart-page-area">
        <div class="container">
            <div class="breadcrumb">
                <a title="Return to Home" asp-action="Index" asp-controller="Home" class="home">Home</a>
                <span class="navigation-pipe"><i class="fa fa-angle-right"></i></span>
                Shopping cart
            </div>
            <div class="cart-wrap">
                <h4 class="cart-title">Shopping cart</h4>
            </div>
            <div class="row">
                @if (Model.F_Getproduct_CartDetails_By_Orgids.Count != 0)
                {
                    <div class="col-md-9 card mb-4 shadow">
                        <div class="cart-wrap">
                            <div class="table-responsive">
                                <table id="myTable" class="table">
                                    <thead>
                                        <tr class="">
                                            <th>Added Product</th>
                                            <th>Product Detail</th>
                                            <th>Qty</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (var cartlist in Model.F_Getproduct_CartDetails_By_Orgids)
                                        {
                                            int x = (int)cartlist.ProductId;
                                            <tr class="">
                                                <td class="">
                                                    <a href="/ProductDetail/Details/@cartlist.ProductGuid"><img alt="" class="img-responsive img-fluid" src="@cartlist.CoverImage"></a>
                                                </td>
                                                <td>
                                                    <h4><a href="/ProductDetail/Details/@cartlist.ProductGuid">@cartlist.ProductName</a></h4>
                                                    <div class="fw-bold price amount" data-price="@cartlist.Price" id="pP_@cartlist.ProductId" style="color: #FE5B5A;"></div>
                                                </td>
                                                <td>
                                                    <div class="number">
                                                        <span class="minus">-</span>
                                                        <input type="number" id="ProductQTY" data-id="99" data-price="@cartlist.Price" class="quant" value="1" />
                                                        <span class="plus">+</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <form method="get">
                                                        <a href="/Cart/DeleteProduct/@cartlist.ProductId" onclick="return confirm('are you sure you want to remove this item ?')">
                                                            <i class="fa fa-trash"></i>
                                                        </a>
                                                    </form>
                                                </td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-3 mb-4">
                        <div>
                            <div class="card shadow" style="width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title">Price Details (@Model.F_Getproduct_CartDetails_By_Orgids.Count items)</h5>
                                    <div class="cart-price">
                                        <div class="cart-product-line fast-line">
                                            <span>Shipping</span>
                                            <span class="free-shiping">Free shipping!</span>
                                        </div>
                                        <div class="cart-product-line">
                                            <span>Final Total</span>
                                            <span class="total">₹ 88.81</span>
                                        </div>
                                    </div>

                                    <div class="cart-checkout">
                                        <a asp-action="CheckOut" asp-controller="Cart">Check out<i class="fa fa-chevron-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="text-center">
                        <img style="height:auto;width:auto;" src="~/img/emptycart.gif" />

                        <div class="Shop_Now_Div">
                            <a class="Shop_Now" asp-action="Index" asp-controller="Home">Shop Now<i class="fa fa-shopping-cart" ></i></a>
                        </div>
                    </div>
                }
            </div>
            @*<div class="actions">
                    <div class="cartpage-btn">
                        <ul>
                            <li><a asp-action="index" asp-controller="home" class="cbtn">continue shopping</a></li>
                            <li><a href="#" class="cbtn">update shopping cart</a></li>
                            <li><a href="#" class="cbtn">clear shopping cart</a></li>
                        </ul>
                    </div>
                </div>*@
            <!-- start cart discount code area -->
            @*<div class="cart-discount-code-area">
                    <h2>Discount codes</h2>
                    <p>Enter your coupon code if you have one.</p>
                    <input type="text">
                    <a href="#">Apply coupon</a>
                </div>*@
            <!-- End cart discount code area -->
            <!-- Start Stmate shoping and cart -->
            <!-- End Stmate shoping and cart -->
        </div>
    </div>
    <!-- End cart page area -->
    <!-- Start brand logo area -->
    <!-- End brand logo area -->
</div>
<!-- End main area -->
<!-- JS -->
<!-- jquery -->
<script src="~/js/vendor/jquery-3.5.1.min.js"></script>
<script src="~/js/vendor/jquery-migrate-3.3.0.min.js"></script>

<!-- bootstrap js
============================================ -->
<script src="js/bootstrap.min.js"></script>

<!-- owl.carousel.min js
============================================ -->
<script src="js/owl.carousel.min.js"></script>

<!-- jquery.nivo.slider.pack.3.2 js
============================================ -->
<script src="~/js/jquery.nivo.slider.pack.3.2.js"></script>

<!-- jqueryui js
============================================ -->
<script src="~/js/jqueryui.js"></script>

<!-- jqueryui js
============================================ -->
<script src="~/js/jquery.fancybox.js"></script>

<!-- jquery.meanmenu js
============================================ -->
<script src="~/js/jquery.meanmenu.js"></script>

<!-- wow js
============================================ -->
<script src="~/js/wow.js"></script>

<!-- plugins js
============================================ -->
<script src="~/js/plugins.js"></script>

<!-- main js
============================================ -->
<script src="~/js/main.js"></script>

<script>

    var arr = [];
    var count;
    $(document).ready(function (id) {

        $('.minus').click(function () {
            var $input = $(this).parent().find('input');
            count = parseInt($input.val()) - 1;
            count = count < 1 ? 1 : count;
            $input.val(count);
            $input.change();
            return false;
        });

        $('.plus').click(function (id) {
            var $input = $(this).parent().find('input');
            $input.val(parseInt($input.val()) + 1);
            $input.change();
            return false;
        });
    });

    $(document).ready(function () {
        update();
        $(".quant").change(function () {
            //this: context of the input that was changed
            //console.log('calling /Cart/AddTocart; id:', $(this).attr('data-id'), ' quantity: ', $(this).val());
            $.get(
                '/Cart/AddTocart', {
                id: $(this).attr('data-id'),
                returnUrl: '',
                quantity: $(this).val()
            });
            update();
        });

        function update() {
            var sum = 0.0;
            var quantity;
            $('#myTable > tbody  > tr').each(function () {

                quantity = $(this).find('.quant').val();
                var price = parseFloat($(this).find('.price').attr('data-price').replace(',', '.'));
                var amount = (quantity * price);

                sum += amount;
                $(this).find('.amount').text('₹' + amount);
            });
            $('.total').text('₹' + sum);
        }
    });
</script>