@model Shoppite.Application.Models.CartModel
@{
    ViewData["Title"] = "Cart Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
    decimal? totalProductPrice = 0M, totalCartAmount = 0M, totalDeliveryfees = 0M;
    var LoggeddInUsername = Context.User.Identity.Name;
}
<!--gifbannerSection-start-->
<section class="section section-sm section-first bg-default text-center">
    <div class="container-fluid">
        <div class="row " style="padding: 30px 0px -50px 0px;">

            <div class="col-12 col-lg-12 col-md-12 mt-4 ">
                <img class="offerbennertop" src="~/img/discount.gif" alt="Addbanner" width="100%" style="border-radius: 10px;">
            </div>
        </div>
    </div>
</section>
<!--gifbannerSection-end-->
<!--cartSection-start-->
<div class="px-4 px-lg-0 cartmain">
    <div class="pb-5">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center" style="margin: 0px 0px 25px 0px;">
                    <h1 class="sectionmainheading">MY BAG</h1>
                </div>
                <div id="cartitems" class="col-lg-12 p-5 rounded shadow-sm mb-5 cartbackgrd">
                    <!-- productcartsection-start -->
                    @if (Model.F_Getproduct_CartDetails_By_Orgids != null)
                    {
                        @foreach (var cartlist in Model.F_Getproduct_CartDetails_By_Orgids)
                        {
                            <div class="card cartitemmobview" style="border-radius: 10px;">
                                <div class="card-body d-flex p-0 col-12 col-md-12 col-lg-12">
                                    <div class="col-lg-2 p-0">
                                        <img src="@cartlist.CoverImage" alt="" width="200" height="auto"
                                             class="img-fluid rounded shadow-sm">
                                        <div class="col-lg-12 m-4 mobselectqunty">
                                            <span class="font-weight-bold">Quantity:</span> @*<select name="subject"
                                                                                                        id="subject" class="border-0">
                                                    <option class="quant" value="" selected="selected">1</option>
                                                    <option value="" selected="selected">2</option>
                                                    <option value="" selected="selected">3</option>
                                                    <option value="" selected="selected">4</option>
                                                    <option value="" selected="selected">5</option>
                                                </select>*@
                                            <div class="input-group">
                                                <span class="input-group-btn">
                                                    <button type="button" class="quantity-left-minus btn btn-danger btn-number" data-type="minus" data-field="">
                                                        <span class="glyphicon glyphicon-minus"></span>
                                                    </button>
                                                </span>
                                                <input type="text" id="quantity" name="quantity" class="form-control input-number" value="10" min="1" max="100">
                                                <span class="input-group-btn">
                                                    <button type="button" class="quantity-right-plus btn btn-success btn-number" data-type="plus" data-field="">
                                                        <span class="glyphicon glyphicon-plus"></span>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-10 mobfontlayout" style="line-height: 24px;">
                                        <p class="card-title font-weight-bold m-0">
                                            @cartlist.ProductName
                                        </p>
                                        <p class="font-weight-bold m-0 price" data-price="@cartlist.Price">
                                            ₹@cartlist.Price <span class="text-decoration-line-through"
                                                                   style="color: darkgrey;">₹</span> <span class="ml-1 text-success">
                                                35%
                                                off
                                            </span>
                                        </p>
                                        <p class="m-0">@cartlist.AttributeName: <span class="font-weight-bold">@cartlist.SpecificationName</span></p>
                                        <p class="m-0">
                                            <i class="fa fa-repeat" aria-hidden="true"></i> <span class="font-weight-bold">14 days</span> return available
                                        </p>
                                        <p class="m-0">
                                            <i class="fa fa-truck" aria-hidden="true"></i> Delivery by <span class="font-weight-bold">12th Jun</span>
                                        </p>
                                        <div class="row border-top border-black border-2 displayviewqunty">
                                            <div class="col-lg-12 m-2 d-flex justify-content-between">
                                                <div class="">
                                                    @* <div class="input-group">
                                                            <span class="input-group-btn">
                                                                <button type="button" class="quantity-left-minus btn btn-danger btn-number" data-type="minus" data-field="">
                                                                    <span class="glyphicon glyphicon-minus"></span>
                                                                </button>
                                                            </span>
                                                            <input type="text" id="quantity" name="quantity" class="form-control input-number" value="10" min="1" max="100">
                                                            <span class="input-group-btn">
                                                                <button type="button" class="quantity-right-plus btn btn-success btn-number" data-type="plus" data-field="">
                                                                    <span class="glyphicon glyphicon-plus"></span>
                                                                </button>
                                                            </span>
                                                        </div>*@
                                                    <span class="font-weight-bold">Quantity:</span> <select name="subject"
                                                                                                            id="subject" class="m-0 border-0">
                                                        <option class="quant" value="@cartlist.Qty" selected="selected">@cartlist.Qty</option>
                                                        <option value="" selected="selected">2</option>
                                                        <option value="" selected="selected">3</option>
                                                        <option value="" selected="selected">4</option>
                                                        <option value="" selected="selected">5</option>
                                                    </select>
                                                </div>
                                                <div class="">

                                                    @if (cartlist.WishlistedProduct == true)
                                                    {
                                                        <a class="m-2 hovertextlayout wishlistedproduct" asp-action="Wishlist" asp-controller="Wishlist" data-product="@cartlist.ProductId"
                                                           style="color: #000000; font-weight: 700;">
                                                            <i class="fa fa-heart font-weight-bold" style="color:red;" aria-hidden="true"></i>
                                                            WishListed
                                                        </a>
                                                    }
                                                    else
                                                    {
                                                        <a class="m-2 hovertextlayout wishlistedproduct" asp-action="Wishlist" asp-controller="Wishlist" data-product="@cartlist.ProductId"
                                                           style="color: #000000; font-weight: 700;">
                                                            <i class="fa fa-heart font-weight-bold" aria-hidden="true"></i>
                                                            Move to Whishlist
                                                        </a>
                                                    }

                                                    <span class="m-2 font-weight-bold">|</span>
                                                    <a class="m-2 hovertextlayout deleteme" data-bs-toggle="modal" data-bs-target="#removefromcart" href="/Cart/DeleteProduct/?id=@cartlist.OrderId"
                                                       style="color: #000000; font-weight: 700;">
                                                        <i class="fa fa-trash font-weight-bold" aria-hidden="true"></i>
                                                        Remove
                                                    </a>
                                                    <!-- Modal -->
                                                    <div class="modal fade" id="removefromcart" tabindex="-1" aria-labelledby="removeModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog modal-dialog-centered">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="removeModalLabel">remove From Cart</h5>
                                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" name="closebtn"></button>
                                                                </div>
                                                                <div class="modal-body fw-bold">
                                                                    Are you sure you want to remove this item ?
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" name="cancelbtn">Cancel</button>
                                                                    <a id="btnContinueDelete" href="" class="btn btn-outline-danger" name="deletelink">Delete</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row border-top border-black border-2 mobselectqunty mobfontlayoutbutton">
                                    <div class="col-lg-12 d-flex justify-content-between m-2">
                                        <a href="#" class="m-2 hovertextlayout" style="color: #000000; font-weight: 700;">
                                            <i class="fa fa-heart font-weight-bold" aria-hidden="true"></i> Move to
                                            Whishlist
                                        </a>
                                        <span class="m-2 font-weight-bold">|</span>
                                        <a href="#" class=" m-2 mr-4 hovertextlayout"
                                           style="color: #000000; font-weight: 700;">
                                            <i class="fa fa-trash font-weight-bold" aria-hidden="true"></i> Remove
                                        </a>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    <!-- productcartsection-end -->
                    <!-- productcartsection-button-start -->
                    <button type="button" class="buttonapplyalignment4 mt-4 d-flex"
                            style="margin: 30px 0px 0px 0px; border-radius: 25px;">
                        <a asp-action="Index" asp-controller="Home">Continue Shopping</a>
                    </button>
                    <!-- productcartsection-button-end -->
                </div>
            </div>
            <div class="row py-5 p-4 rounded shadow-sm cartbackgrd">
                <div class="col-lg-6">
                    <!-- couponssection-start -->
                    <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">
                        Checks For Coupons
                    </div>
                    <div class="mt-4 mb-4">
                        <p class="instractionline font-italic mb-4" style="margin: 20px;">
                            If you have a coupon code,
                            please enter it in the box below
                        </p>
                        <div id="faq">
                            <ul>
                                <li class="applycouponsalignment">
                                    <h2 class="availableofferheading applycouponsheading">
                                        <img src="~/img/couponsimage.png" alt="discountimge" width="30px"
                                             height="30px" />
                                        Apply Coupons
                                    </h2>
                                    <button type="button" class="buttonapplyalignment1" data-toggle="modal"
                                            data-target="#exampleModalCenter">
                                        Apply
                                    </button>
                                </li>
                                <li>
                                    <h6 class="totalsave" style="margin: 20px;">You saved additional ₹500</h6>
                                    <h6 class="totalsave" style="margin: 20px;">
                                        The coupon has been applied
                                        successfully.
                                    </h6>
                                </li>
                            </ul>
                        </div>
                        <!-- model-start -->
                        <div class="modal" id="exampleModalCenter" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Search Coupons</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <input type="text" placeholder="Search coupon" id="search"
                                               aria-describedby="button-addon3" class="form-control border-0">
                                        <button id="button-addon3" type="button"
                                                class="btn btn-dark px-4 rounded-pill"
                                                style="margin: 15px 0px 15px 146px;">
                                            <i class="fa fa-gift mr-2"></i>Search coupon
                                        </button>
                                        <p style="border-top: 1px solid  #000000;"></p>

                                        <div id="faq">
                                            <ul class="list">
                                                @for (var i = 0; i < Model.CouponDetails.Count; i++)
                                                {
                                                    if (i % 2 == 0)
                                                    {
                                                        <li style="background-color: #E6E8FA;">
                                                            <input class="check" type="checkbox" onclick="CouponCheck(this)" id="@Model.CouponDetails[i].CouponId" name="Coupon" 
                                                                   value="@Model.CouponDetails[i].CouponId" style="margin: 17px;">
                                                            <label for="vehicle1" class="modelcouponsticket">
                                                                @Model.CouponDetails[i].CouponCode
                                                            </label><br>
                                                            <p class="modelcardtotalsave">
                                                                Save ₹500
                                                            </p>
                                                            <p>
                                                                Rs.500 Off on Minimum Purchase of Rs.3500
                                                                <br>
                                                                Expire on:10th june 2023 | 12:00am
                                                            </p>
                                                        </li>
                                                    }
                                                    else
                                                    {
                                                        <li style="background-color: #aed4f0;">
                                                            <input type="checkbox" id="@Model.CouponDetails[i].CouponId" name="Coupon" value="@Model.CouponDetails[i].CouponId"
                                                                    style="margin: 17px;">
                                                            <label for="vehicle1" class="modelcouponsticket">
                                                                @Model.CouponDetails[i].CouponCode

                                                            </label><br>
                                                            <p class="modelcardtotalsave">
                                                                Save ₹500
                                                            </p>
                                                            <p>
                                                                Rs.500 Off on Minimum Purchase of Rs.3500
                                                                <br>
                                                                Expire on:10th june 2023 | 12:00am
                                                            </p>
                                                        </li>

                                                    }

                                                }
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" id="CouponApply"    data-dismiss="modal" aria-label="Close" class="buttonapplyalignment">Apply</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- model-end -->
                        <!-- <div class="input-group mb-4 border rounded-pill p-2">
                            <input type="text" placeholder="Apply coupon" aria-describedby="button-addon3"
                                class="form-control border-0">
                            <div class="input-group-append border-0">
                                <button id="button-addon3" type="button" class="btn btn-dark px-4 rounded-pill"><i
                                        class="fa fa-gift mr-2"></i>Apply coupon</button>
                            </div>
                        </div> -->
                    </div>
                    <!-- couponssection-end -->
                    <!-- availableoffersection-start -->
                    <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">
                        <img src="~/img/discount.png" alt="discountimge" width="20px" height="20px" /> Available
                        Offers
                    </div>
                    <div class="mt-4 mb-4">
                        <div id="faq">
                            <ul>
                                <li>
                                    <h2 class="availableofferheading applycouponsheading">
                                        <img src="~/img/discount.png" alt="discountimge" width="20px" height="20px" />
                                        Available Offers
                                    </h2>
                                    <p class="availableofferjudtify">
                                        <i class="fa fa-circle colorcobavailableoffer" aria-hidden="true"></i>
                                        10% Instant Discount on ICICI Bank Credit and Debit Cards on a min spend of
                                        Rs 3,500.TCA
                                    </p>
                                    <p class="availableofferjudtify">
                                        <i class="fa fa-circle colorcobavailableoffer" aria-hidden="true"></i>
                                        10% Instant Discount on Kotak Credit and Debit Cards on a min spend of Rs
                                        3,500.TCA
                                    </p>
                                    <p class="availableofferjudtify">
                                        <i class="fa fa-circle colorcobavailableoffer" aria-hidden="true"></i>
                                        10% Cashback upto Rs 200 on Paytm Wallet and Postpaid transaction on a min
                                        spend of Rs 2,000. TCA
                                    </p>
                                    <p class="availableofferjudtify">
                                        <i class="fa fa-circle colorcobavailableoffer" aria-hidden="true"></i> 2x
                                        Cashback upto Rs 500 or Flat Rs 150 Cashback
                                        for select users on CRED Pay UPI on a min spend of Rs 1000. Available only
                                        on Android Devices. TCA
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- availableoffersection-end -->
                    <!-- Instructionssellersection-start -->
                    <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">
                        Instructions for seller
                    </div>
                    <div class="p-4">
                        <p class="instractionline font-italic mb-4">
                            If you have some information for the seller you can leave them in the box below
                        </p>
                        <textarea name="" cols="30" rows="2" class="form-control"></textarea>
                    </div>
                    <!-- Instructionssellersection-end -->
                </div>
                <div class="col-lg-6">
                    <!-- pincodesection-start -->
                    <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Check Pincode</div>
                    <div class="p-4">
                        <p class="instractionline font-italic mb-4">
                            Please check your area pincode if Delivery available or not
                        </p>
                        <div id="faqpincode">
                            <ul>
                                <li class="applycouponsalignment">
                                    <h2 class="availableofferheading applycouponsheading">
                                        Delivery Availability
                                    </h2>
                                    <button type="button" class="buttonapplyalignment2" data-toggle="modal"
                                            data-target="#exampleModal">
                                        Check Pincode
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Modal-start -->
                    <div class="modal" id="exampleModal" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Check Pincode</h5>
                                    <button type="button" id="pincodeclose" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="main-search-input-wrap">
                                        <div class="main-search-input fl-wrap mb-4">
                                            <div class="main-search-input-item">
                                                <input maxlength="6" class="pincodesearchbar" type="text" id="pincode" value=""
                                                       placeholder="Search Products...">
                                            </div>
                                            <button class="main-search-button" id="checkPincode">Check</button>
                                        </div>
                                        <span id="DelieveryArea" style="color:#cc071e;"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal-end -->
                    <!-- pincodesection-end -->
                    <!-- giftwrappingsection-start -->
                    <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">
                        Gifting &
                        Personalisation
                    </div>
                    <div class="p-4">
                        <p class="instractionline font-italic mb-4">
                            If you have add gift wrapping on the items
                        </p>
                        <div id="faqpincode">
                            <ul>
                                <li class="applycouponsalignment">
                                    <h2 class="availableofferheading applycouponsheading">
                                        Gift Wrapping
                                    </h2>
                                    <!-- Button trigger modal -->
                                    <button type="button" class="buttonapplyalignment3" data-toggle="modal"
                                            data-target="#exampleModalLong">
                                        Add Gift Wrap
                                    </button>
                                </li>
                            </ul>
                        </div>
                        <!-- Modal-start -->
                        <div class="modal bd-example-modal-lg" id="exampleModalLong" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                            <div class="modal-dialog model-lg modal-dialog-centered modal-dialog-scrollable"
                                 role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">
                                            Gifting & Personalisation
                                        </h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <h4 style="font-family: Times New Roman; font-weight: 800; letter-spacing: 2px;">
                                            Gift Wrapping
                                        </h4>
                                        <form>
                                            <div class="form-group">
                                                <label for="recipient-name" class="col-form-label tex">
                                                    Recipient
                                                    Name:
                                                </label>
                                                <input type="text" class="form-control" id="recipient-name">
                                            </div>
                                            <div class="form-group">
                                                <label for="message-text" class="col-form-label">Message:</label>
                                                <textarea class="form-control" id="message-text"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <label for="recipient-name" class="col-form-label">
                                                    Sender
                                                    Name:
                                                </label>
                                                <input type="text" class="form-control" id="recipient-name">
                                            </div>
                                            <p class="totalsave">
                                                <b>Please Note:</b> Gift wrap and personalised
                                                message, Only for ₹60
                                            </p>
                                            <div class="form-group" style="display: flex; justify-content: center;">
                                                <button type="button" class="buttonapplyalignment">
                                                    Apply Gift
                                                    Wrap
                                                </button>
                                            </div>
                                            <h5 style="border-bottom: 1px solid  #000000; line-height: 45px;">
                                                HOW
                                                DOES IT WORK?
                                            </h5>

                                            <p style="margin: 25px 0px 0px 0px; ">
                                                <b>Personalised card</b>
                                            </p>
                                            <p>
                                                Your message will be printed on a letter.
                                            </p>
                                            <p style="margin: 25px 0px 0px 0px; ">
                                                <b>Invoice will be included</b>
                                            </p>
                                            <p>
                                                The receiver will get an invoice showing the amount you pay or the
                                                discount applied.
                                            </p>
                                            <p style="margin: 25px 0px 0px 0px; ">
                                                <b>Original product tags will be retained</b>
                                            </p>
                                            <p>
                                                Original product tags with MRP will be left intact in-case you’d
                                                like to exchange for a different size.
                                            </p>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Modal-end -->
                    </div>
                    <!-- giftwrappingsection-end -->
                    <!-- ordersummarysection-start -->
                    <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">
                        Order summary
                    </div>
                    <div class="p-4">
                        <p class="instractionline font-italic mb-4">
                            Shipping and additional costs are calculated based on values you have entered.
                        </p>
                        <ul class="list-unstyled mb-4">
                            <li class="d-flex justify-content-between py-3 border-bottom">
                                <strong class="text-muted">Bag Total</strong>
                                <strong>
                                    @if (Model.F_Getproduct_CartDetails_By_Orgids != null)
                                    {
                                        @for (int i = 0; i < Model.F_Getproduct_CartDetails_By_Orgids.Count; i++)
                                        {
                                            totalProductPrice += Model.F_Getproduct_CartDetails_By_Orgids[i].Price * Model.F_Getproduct_CartDetails_By_Orgids[i].Qty;
                                        }
                                    }

                                    ₹@totalProductPrice
                                </strong>
                            </li>
                            <li class="d-flex justify-content-between py-3 border-bottom">
                                <strong class="text-muted">
                                    Shipping Charge and
                                    handling
                                </strong><strong>
                                    @if (Model.F_Getproduct_CartDetails_By_Orgids != null)
                                    {
                                        @for (int i = 0; i < Model.F_Getproduct_CartDetails_By_Orgids.Count; i++)
                                        {
                                            totalDeliveryfees += Model.F_Getproduct_CartDetails_By_Orgids[i].DeliveryFees;
                                        }
                                    }₹@totalDeliveryfees
                                </strong>
                            </li>
                            <li class="d-flex justify-content-between py-3 border-bottom">
                                <strong class="text-muted">Bag Subtotal </strong><strong>₹390.00</strong>
                            </li>
                            <li class="d-flex justify-content-between py-3 border-bottom">
                                <strong class="text-muted">Discount on Bag</strong><strong>₹0.00</strong>
                            </li>
                            <li class="d-flex justify-content-between py-3 border-bottom">
                                <strong class="text-muted">Coupon Discount</strong><strong>
                                    <p class="mobviewcoupons" data-toggle="modal" data-target="#exampleModalCenter">
                                        Apply Coupons?
                                    </p>
                                </strong>
                            </li>
                            <li class="d-flex justify-content-between py-3 border-bottom">
                                <strong class="text-muted">Total Amount</strong>
                                <h5 class="font-weight-bold"></h5>
                            </li>
                            <p class="totalsave">You will save ₹6987.8 on this order</p>
                        </ul><a asp-action="Checkout" class="btn btn-dark rounded-pill py-2 btn-block">Procceed to checkout</a>
                    </div>
                    <!-- ordersummarysection-end -->
                </div>
            </div>
        </div>
    </div>
</div>
<!--cartSection-end-->
<!-- End main area -->
<!-- JS -->
<!-- jquery -->
@section Scripts{
    <script>
        $('#CouponApply').click(function (e) {        
           
            $.notify("Coupon Applied Successfully");

        });

        function CouponCheck(ckType) {
            var ckName = document.getElementsByName(ckType.name);
            var checked = document.getElementById(ckType.id);

            if (checked.checked) {
                for (var i = 0; i < ckName.length; i++) {

                    if (!ckName[i].checked) {
                        ckName[i].disabled = true;
                    } else {
                        ckName[i].disabled = false;
                    }
                }
            }
            else {
                for (var i = 0; i < ckName.length; i++) {
                    ckName[i].disabled = false;
                }
            }
        }

        $('.wishlistedproduct').click(function (e)
        {
            e.preventDefault();
            var el = $(this),
                icon = el.find('i'),
                id = el.data("product")
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Wishlist", "Wishlist")',
                    data: {
                        "id": id
                    },
                    success: function (data) {
                        window.location.reload();
                    }
                });
        });

        $('#pincodeclose').click(function () {
            $('#DelieveryArea').text("");
        });

        $('#checkPincode').click(function () {

            var pincode = document.getElementById('pincode').value;
            const settings = {
                async: true,
                crossDomain: true,
                url: 'https://india-pincode-with-latitude-and-longitude.p.rapidapi.com/api/v1/pincode/' + pincode + '/validate',
                method: 'GET',
                headers: {
                    'X-RapidAPI-Key': '49fa1006a7msh3d532711c967795p15f8c6jsnf4d730b3e93a',
                    'X-RapidAPI-Host': 'india-pincode-with-latitude-and-longitude.p.rapidapi.com'
                }
            };
            $.ajax(settings).done(function (response) {
               // console.log(response);
                if (response.valid == false) {
                    $('#DelieveryArea').text("Invalid Pincode,please enter a valid pincode.");

                }
                else {
                    const settings = {
                        async: true,
                        crossDomain: true,
                        url: 'https://india-pincode-with-latitude-and-longitude.p.rapidapi.com/api/v1/pincode/' + pincode,
                        method: 'GET',
                        headers: {
                            'X-RapidAPI-Key': '49fa1006a7msh3d532711c967795p15f8c6jsnf4d730b3e93a',
                            'X-RapidAPI-Host': 'india-pincode-with-latitude-and-longitude.p.rapidapi.com'
                        }
                    };

                    $.ajax(settings).done(function (response) {
                      //  console.log(response);
                        $('#DelieveryArea').text("Delivery Area " + response[0].area);
                    });
                }
            });

        });
        
    var arr = [];
    var count;
    $(document).ready(function (id) {
        $('.minus').click(function () {
            var $input = $(this).parent().find('input');
            count = parseInt($input.val()) - 1;
            count = count < 1 ? 1 : count;
            $input.val(count);
            $input.change();
            return false;
        });
        $('.plus').click(function (id) {
            var $input = $(this).parent().find('input');
            $input.val(parseInt($input.val()) + 1);
            $input.change();
            return false;
        });
    });
    $(document).ready(function () {
        update();
        $(".quant").change(function () {
            $.get(
                '/Cart/AddTocart', {
                id: $(this).attr('data-id'),
                returnUrl: '',
                quantity: $(this).val()
            });
            update();
        });
        function update() {
            var sum = 0.0;
            var quantity;
            $('#cartitems').each(function () {
                quantity = $(this).find('.quant').val();
                var price = parseFloat($(this).find('.price').attr('data-price').replace(',', '.'));
                var amount = (quantity * price);
                sum += amount;
                $(this).find('.amount').text('₹' + amount);
            });
            $('.total').text('₹' + sum);
        }
    });
        $('.deleteme').click(function (e) {
            var href = $(this).attr('href');
        $.ajax({
            type: "GET",
            url: href,
            success: function (data) {
                window.location.reload();
            }

        });
    });
        $("#search").on("keyup", function () {
            var value = $(this).val().toLowerCase().trim();
            var v = value.split("%");
            $(".list li").each(function (j, k) {
                var s = true;
                $.each(v, function (i, x) {
                    if (s) {
                        s = $(k).text().toLowerCase().indexOf(x) > -1;
                    }
                });
                $(this).toggle(s);
            });
        });

    function GetOrder() {
        var ar = [];
        var dataBunch = [];
        var tab = $("#myTable > tbody > tr").each(function () {
            $(this).find('td');
        });
        for (var i = 0; i < tab.length; i++) {
            ar.push({ "Guid": tab[i].children[0].children[2].value, "Qty": tab[i].cells[2].children[0].children[1].value, "ProductId": tab[i].cells[0].children[0].value });
        }
        var makeString = JSON.stringify({ar});
        $.ajax({
            type: "POST",
            url: '@Url.Action("AddToCheck", "Cart")',
            dataType: 'JSON',
            data: makeString,
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                window.location = "/Cart/CheckOut?orderid=" + $('.HidenGuid').val()
            },
            error: function (xhr, status, error) {
                alert( window.location = "/Cart/CheckOut/" + $('.HidenGuid').val())
            }
        });
    };
    </script>
}