@model Shoppite.Application.Models.UsersProfileModal
<div class="col-lg-3 col-md-6 col-sm-6 col-12 mb-40">
    <div class="footer-center-title">
        <h4><span>Store Information</span></h4>
    </div>
    @if (Model != null)
    {
        <p><i class="fa fa-map-marker"></i> <span>Address : @Model.ShopName, @Model.City ,@Model.State, @Model.Address , @Model.Zip</span></p>
        <p><i class="fa fa-phone"></i> <span class="call">Call us now : @Model.ContactNumber</span></p>
        <p><i class="fa fa-envelope"></i> <span class="call">Email : <a href="mailto:@Model.UserName" name="link">@Model.UserName</a></span></p>
    }
</div>